@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
a {
    color: #fff;
}

/* HEADER */
.main_header {
    background-color: #303030;
}

.container {
    width: 100%;
    padding: 0px 80px;
    margin: auto;
    max-width: 1440px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .nav {
    display: flex;
    gap: 56px;
    font-family: 'Oswald', sans-serif;
}

header .nav li {
    list-style-type: none;
}

header .nav li a {
    text-decoration: none;
    text-transform: uppercase;
}

/* SLIDER */
/* 
.slick-prev {
    left: 25px;
    z-index: 1;
}

.slick-next {
    right: 25px;
} */

.fa-arrow-left {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 25px;
}

.fa-arrow-right {
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 25px;
}

.slider-image {
    display: flex;
}

.main_slider {
    position: relative;
}

.slider {
    position: absolute;
    bottom: 80px;
    width: 800px;
}

.slider-image img {
    width: 100%;

}

.slider-description h2 {
    font-weight: 400;
    font-size: 125px;
    font-family: 'Oswald', sans-serif;
}

.slider-description p {
    font-weight: 400;
    font-size: 30px;
    padding: 0px 0px 30px 0px;
    font-family: 'Montserrat', sans-serif;
}

.slider-description a {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 25px;
    background-color: #e8631c;
    text-decoration: none;
    padding: 17px 74px;
    border-radius: 4px;
    display: inline-block;
    font-family: 'Oswald', sans-serif;
}

/* DANCE TOUR */
.main-dance-tour {
    background-image: url("./card-background-image.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* .dance-tour {
    background-image: url("./card-background-image.png");
    background-size: 100% 100%;
} */
.dance-tour h2 {
    padding: 40px 0 20px 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    font-size: 75px;
}

.p-pad {
    padding-bottom: 85px;
}

.dance-tour p {
    font-weight: 400;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
}

/* CARDS */
.card {
    width: 100%;
    background-color: #303030;

}

.cards {
    display: flex;
    justify-content: center;
    gap: 82px;
    padding-bottom: 100px;

}

.card p {

    padding-bottom: 38px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 22px;
}

.card {
    background-color: #303030;
    display: block;
    width: 33.33%;
}

.card img {
    width: 100%;
}

.card h6 {
    font-weight: 400;
    padding: 38px 0 21px 0;
    text-align: center;
    margin-top: 0;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 37px;
}

/* PRICING */
.main-price-tag {
    background-image: url("./pricing-back-image.png");
    background-repeat: no-repeat;

}

.pricing h2 {
    padding: 40px 0 20px 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    font-size: 75px;
}

.pricing p {
    font-weight: 400;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
}

.badges {
    display: flex;
    gap: 82px;
    padding-bottom: 100px;
}

.badge {
    display: block;
    background-color: #e8631c;
    width: 33.33%;
    padding: 35px 0px;
    text-align: center;
}

.badge h6 {
    font-size: 37px;
    padding: 38px 0 21px 0;
    text-align: center;
    margin-top: 0;
    font-family: 'Oswald', sans-serif;
}

.badge p {
    font-size: 21px;
    padding-bottom: 38px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.badge a {
    font-weight: 400;
    font-size: 22px;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    padding: 17px 123px;
    border-radius: 4px;
    /* display: block; */
    background-color: #303030;
    text-align: center;
}

.badge img {
    /* justify-content: center; */
    /* align-items: center; */
    width: auto;
    background-color: #e8631c;
}


/* AMAZING DANCE */
/* left text */
.main-amazing-dance {
    background-image: url("./AMAZING-DANCE-BACKGROUND.png");
    display: flex;

}

.best-dance {
    background-image: url("./best-dance-background-right-img.png");
    display: flex;
}

.left-img,
.left-text,
.right-text,
.right-img {
    width: 50%;
}

.left-text h2 {
    padding-top: 316px;
    padding-bottom: 60px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 75px;
}

.left-text {
    padding: 321px 56px 280px 45px;
}

.left-text p {
    padding-bottom: 75px;
    font-family: 'Montserrat', sans-serif;
    font-size: 29px;
    font-weight: 400;
}

.left-text a {
    padding: 12px 113px 16px 110px;
    background-color: #303030;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    display: inline-block;

}

/* RIGHT TEXT */
.right-text {
    padding: 340px 40px 275px 48px;

}

.right-text p {
    padding-bottom: 75px;
    font-weight: 400;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}

.right-text h2 {
    padding-bottom: 60px;
    font-weight: 700;
    font-size: 75px;
    font-family: 'Oswald', sans-serif;
}

.right-text a {
    padding: 12px 113px 16px 110px;
    background-color: #303030;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    display: inline-block;
}

/* STATISTICS */
.our-statistics {
    background-color: #303030;
    padding: 205px 150px 265px 112px;

}

.static {
    width: 100%;
    display: block;
    width: 33.33%;
}

.statics {
    display: flex;
    justify-content: center;
    padding-top: 197px;
}

.statistics h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 75px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 60px;
}

.statistics p {
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-align: center;
    /* padding-bottom: 187px; */
}

.statics h6 {
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    font-size: 67px;
    text-align: center;
}

.statics p {
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    font-size: 41px;
}

/* HERBERT SIMON */

.main-simon {
    background-image: url("./HERBERT-SIMON.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.simon {
    padding: 347px 188px;

}

.simon h2 {
    font-size: 50px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}

.simon p {
    font-weight: 400;
    padding-bottom: 80px;
    font-size: 50px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

/* SUBSCRIBE */

.main-subscribe {
    background-image: url("./SUBCRIBE.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 130px 0px 163px 0px;
}

.subscribe {
    padding-bottom: 60px;
}

.subscribe h2 {
    text-align: center;
    font-size: 75px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    padding-bottom: 65px;

}

.subscribe p {
    text-align: center;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

form {
    text-align: center;
    padding-top: 60px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center
}

.submit {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #fff;
    background-color: #303030;
    border: none;
    padding: 16px 36px;
}

.email {
    width: 553px;
    padding: 16px 30px;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

/* FOOTER */
.main_footer {
    /* background-image: url("./MUSICOLCGY.png"); */
    /* background-repeat: no-repeat; */
    background-color: #303030;
}

footer {
    display: flex;
    gap: 130px;
    padding: 225px 0 350px 0;
}

footer h5 {
    font-size: 29px;
    font-weight: 400;
    padding-bottom: 15px;

}

.footer_left {
    width: 40%;
}

.footer_left .media-icon {
    gap: 16px;
    display: flex;
}

.footer_left h5 {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 33px;
}

.footer_left p {
    padding-bottom: 43px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.footer_left {
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}

.footer-right {
    display: flex;
    font-size: 29px;
    gap: 30px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    list-style-type: none;
}

.footer-right li a {
    font-size: 25px;
    padding-bottom: 20px;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.footer-right h5 {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 33px;
}

.section li {
    list-style-type: none;
}

@media only screen and (min-width: 1366px) {}